<body>
    <div class="about-section">
       Current Medicines
    </div>


<div class="xx"> 

    <table border="5" class="table" style="margin-top: 20px;">
        <thead class="thead-dark">
          <tr>
         
            <th scope="col">Medicine Name</th>
            <th scope="col">Doses</th>
            <th scope="col">Start Date</th>
            <th scope="col">Period</th>
           
          </tr>
        </thead>



        <tbody>
          <tr *ngFor="let i of medicinelist">
            
            <td> {{i.medicineName}}</td>
            <td>{{i.medicineDoses}}</td>
            <td> {{i.startDate}}</td> 
            <td>{{i.period}}</td> 
            
          </tr>
          
           
        



        
        </tbody>
      </table>
    </div>