.about-section {
    font-family: sans-serif;
    font-size: 60px;
    
    font-weight: bold;
    color: #ffffff;


    margin-top: 10px;
    padding: 20px;
   
    background-color: rgba(0, 0, 0, 0.562);
    font-size: large;
    font-weight: bold;
    margin-bottom: 50px;

}

/*table,tr {
    border: 1;
    border-color: #f8f8ff;

}



tr {
    border: 1;
    border-color: #fdfdfd;

}*/


body {
    background-color: #ffffff36;
} 

.xx{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background:  url("/assets/m3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -51px;
}

table 			      {  
    border-spacing: 1; 
    border-collapse: collapse; 
    background:white;
    border-radius:6px;
    overflow:hidden;
    max-width:800px; 
    width:100%;
    margin:0 auto;
    margin-top: -200px;
    position:relative;
    
    *               { position:relative }
    
    td,th           { padding-left:8px}
  
    thead tr        { 
      height:60px;
      background:#FFED86;
      font-size:16px;
    }
    
    tbody tr        { height:48px; border-bottom:1px solid #E3F1D5 ;
      &:last-child  { border:0; }
    }
    
       td,th 					{ text-align:left;
          &.l 					{ text-align:right }
          &.c 					{ text-align:center }
          &.r 					{ text-align:center }
      }
  }
  
  
     
      
    
  
