<mat-card>
    <h1>Your Profile Details</h1>
    <mat-card-content>
   <div class="bootstrap-wapper">

    <div class="container text-center">

        <div class="container">
            <img src="/assets/p1.jpg" alt="" class="profile-image ">

            <h1 class="mt-20"> AMR ALI Hamed</h1>
        </div>
        <div class="row">
            <div class="col-md-9 offset-md-1">

               <!--table Details-->
<table class="table text-center">
    <tr>
        <td>Patient Id</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Blood Pressure</td>
        <td>false</td>
    </tr>

    <tr>
        <td>Blood Type</td>
        <td>A</td>
    </tr>
    <tr>
        <td>Heart Disease</td>
        <td>false</td>
    </tr>

    <tr>
        <td>treatment</td>
        <td>false</td>
    </tr>

    <tr>
        <td>Diadetes</td>
        <td>true</td>
    </tr>

    

    <tr>
        <td>Alcohol</td>
        <td>true</td>
    </tr>

</table>


            </div>

        </div>
    </div>
   </div>
    </mat-card-content>

</mat-card>
