<mat-card  style="margin-top: 10px;">

    <mat-action-list style="margin-top: 10px;" >
        <div  style="color: rgb(42, 42, 165);"      class="tt" mat-subheader>welcome,labtech</div>
       


        <button  class="tt" mat-list-item [routerLink]="'/labtech/TestandScansRequired'" > 

          Test and Scans Required
          
        
      </button>






        <button  class="tt" mat-list-item [routerLink]="'/labtech/upload'" > 

          Upload Scans
          
        
      </button>


        <button  class="tt" mat-list-item [routerLink]="'/labtech/uploadtest'" > 

           
          
      Upload Tests
      </button>






    </mat-action-list>
</mat-card>
