.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("/assets/ooo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 11px;
}

.body h2 {
  font-family: sans-serif;
  font-size: 90px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
    margin-top:50px;
    margin-left: 550px;
}

.body p {
  font-family: sans-serif;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
    margin-left: 550px;
    font-weight: bold;
}

.body button {
    background-color: #ffffff;
    color: #02010a;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 15px;
    width:300px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(255, 255, 255, 0.4);
    margin-left: 550px;
    text-align: center;

}




  .foo {
    text-align: center;
    background: #c6c9e0bb;
    color: rgb(7, 1, 1);
    line-height: 50px;
    padding: 0 20px;
}



.dropdown {
    max-width: 10em;
    margin-right: 550px;
    position: relative;
    width: 50%;
  }
  .dropdown-btn {
    background: #fdfdfd00;
    font-size: 18px;
    width: 100%;
    border: none;
    color: #020101;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
  }
  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
  }
  .dropdown-content {margin-left: 550px;
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
  }
  .dropdown-content li {
    background: #feffff;
    border-radius: 0.5em;
  }
  .dropdown-content li:hover {
    background: #5f87ec98;
  }
  .dropdown-content li a {
    display: block;
    padding: 0.7em 0.5em;
    color: #000000;
    margin: 0.1em 0;
    text-decoration: none;
  }
  .dropdown-content {
    /* ... */
    visibility: hidden;
  }
  .dropdown-btn:focus + .dropdown-content {
    visibility: visible;
  } 
  .dropdown-btn:focus > .arrow {
    transform: rotate(180deg);
  }
  .dropdown-content {
    /* ... */
    overflow: hidden;
  } 
  .dropdown-content li {
    /* ... */
    position: relative;
    left: 100%;
    transition: 0.5s;
  }
  .dropdown-btn:focus + .dropdown-content li {
    left: 0;
  }

  footer {
    display: block;
}




.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-family: sans-serif;
  font-size: 25px;
  
  font-weight: bold;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

.nav-items { 
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  margin-right: 20px;
}

.nav-items a { font-family: sans-serif;
  font-size: 18px;

  font-weight: bold;
  text-decoration: none;
  color: #000;
  padding: 35px 20px;
}



/* CSS for footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #302f49;
  padding: 40px 80px;
}

.footer .copy {
  color: #fff;
}

.bottom-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.bottom-links .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.bottom-links .links span {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px 0;
}

.bottom-links .links a {
  text-decoration: none;
  color: #a1a1a1;
  padding: 10px 20px;
}