<div class="body">
    <h2> BE HEALTHY </h2>
    <p>we Here For You</p>

    <button routerLink="/login"  >Login  </button> <br>

    


    <div class="dropdown" style="text-align: center;">
        <button style="margin-left: 480px; "  class="dropdown-btn">
          <h6 style="color: white;">.....</h6>   SignUP As 
          <span   class="arrow"></span>
        </button>
        <ul class="dropdown-content">
          <li><a routerLink="/signup" href="#"> Patient</a></li>
          <li><a routerLink="/signupadmin" href="#"> Admin</a></li>
          <li><a routerLink="/signupdoctor" href="#">Doctor</a></li>
          <li><a routerLink="/signuplabtech"  href="#">lap tech</a></li>
          <li><a routerLink="/signuppharm" href="#">pharmsist</a></li>
        </ul>
      </div>





</div>





   

  


    



