<div style="background-color: rgba(15, 11, 11, 0.637);">
<div class="main-text">
    <div style="color: white; font-weight: bold; font-size: 30px; " >
       <p style="margin-top: -30px;"><br>
        Our system is a health care system includes people, institutions, and resources that deliver health care
        services to patients in the best way with best performance.
        This system is based on smart cards that are used in information technologies as portable integrated devices
        with data storage. The system uses smart card for personal identification and transfer of health data and
        provides data communication between all users in the system.</p>
    </div>
</div>

<hr>
<h2   style="background-color: rgba(15, 11, 11, 0.295);color: white; font-weight: bold; font-size: 30px; margin-top: -20px;" > OUR Services</h2>
<hr>


<div class="row">

    <div class="column">
        <div class="card">
            <img src="/assets/tdr.jpeg" alt="EMAN AMR" class="images">
            <div class="container">
                <h2>user profile</h2>
                <p>Every user has a profile allow him to show the basic information</p>
                
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/mid.jpg" alt="AYA Elsayed" class="images">
            <div class="container">
                <h2>User current medicines</h2>
                <p>Every user can show the current mediciens </p>
                
            </div>
        </div>
    </div>


    <div class="column">
        <div class="card">
            <img src="/assets/result.jpeg" alt="AMIRA"  class="images">
            <div class="container">
                <h2>Lab Results</h2>
                <p>Every User can show the lab results and scans that he made </p>
               
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/clock.jpg" alt="GEHAD"  class="images">
            <div class="container">
                <h2>Reminder Page</h2>
                <p>this page to help user to remmember the reminders of mindicines</p>
                
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/assets/info1.jpg" alt="AYA"  class="images">
            <div class="container">
                <h2>Lost card </h2>
                <p>User should inform us if his card has been losted to stop sharing his informations with others </p>
                
            </div>
        </div>
    </div>

</div>
</div>