<div class="xx">

    <div class="bootstrap-wrapper">
        <div class="container">
            <div class="row">
    
                <div class="col-md-6 offset-md-3">
    
                    <mat-card>
                    <div class="container text-center">
                      <H2>Add Patient Medical Info</H2> 
                     <h6>it's quick and easy </h6>  <br>
                    </div>
                   
                    
    
                    <form (ngSubmit)="onsubmit()">
    
                        <mat-form-field class="full-width" appearance= "fill">
                            <mat-label>bloodPressure </mat-label>
                            <input   [(ngModel)]="info.bloodPressure" name="bloodPressure" matInput placeholder="Enter bloodPressure" id="bloodPressure">
                        </mat-form-field>
    
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>bloodType </mat-label>
                            <input [(ngModel)]="info.bloodType" name="bloodType"   matInput placeholder="Enter bloodType" id="bloodType">
                        </mat-form-field>
    
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Diabetes </mat-label>
                            <input   [(ngModel)]="info.Diabietes" name="Diabietes"    matInput placeholder="Enter Diabetes" id="Diabietes" >
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label> heartDisease </mat-label>
                            <input   [(ngModel)]="info.heartDisease" name=" heartDisease"      matInput placeholder="Enter heartDiseasee" id="heartDisease">
                        </mat-form-field>
    
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label> Alcohol </mat-label>
                            <input  [(ngModel)]="info.Alcohol" name="Alcohol"type="text" matInput placeholder="Enter Alcohol" id="Alcohol">
                        </mat-form-field>
    
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label> treatment </mat-label>
                            <input  [(ngModel)]="info.treatment" name="treatment" type="text" matInput placeholder="Enter treatment" id="treatment">
                        </mat-form-field>
    
                        <mat-form-field class="full-width" appearance="fill">
                            <mat-label>tumors</mat-label>
                            <input [(ngModel)]="info.tumors" name="tumors" type="text" matInput placeholder="Enter tumors" id="tumors">
                        </mat-form-field>
    
                    
    
    
                        <div class="container text-center">
                            <button  type="submit" mat-raised-button style="background-color: rgb(71, 122, 89);; width: 100%;" >Add</button>
                           
    
    
                        </div>
                    </form>
                </mat-card>
                </div>
            </div>
    
    
        </div>
    </div></div>
