<mat-card  style="margin-top: 10px;">

    <mat-action-list style="margin-top: 10px;" >
        <div  style="color: rgb(42, 42, 165);"      class="tt" mat-subheader>welcome,doctor</div>
        <button class="tt"  mat-list-item   [routerLink]="'/pharmcist/profilepharm'"> 
            <mat-icon  mat-list-icon>profile</mat-icon>
            profile
        </button>


        <button  class="tt" mat-list-item [routerLink]="'/pharmcist/Pharmsection'" > 

           
            <mat-icon mat-list-icon  >account_circle</mat-icon>
          Pharmicist Section
        </button>

    </mat-action-list>
</mat-card>
