
<div  style="background-color: rgb(255, 255, 255); height: 520px;" >

  <section class="page-sectiontext-white mb-0" style="background-color: rgb(76, 104, 163); height: 90px; " id="about">
     <div class="container">
         
          <h2  class="page-section-heading text-center text-uppercase text-white "  style="margin-top: 11px;"><br> Admin Section </h2>
         
      
         
          
          
      </div>
  </section>

<div class="row">
  


  <div class="column">
    <div ><button   style="margin-left: 300px; margin-top: 10px; font-size: 30px; font-weight: bold;" routerLink="/adminscan"> Scan Card</button>  </div>
  </div>



    <div class="column">
      <div ><button   style="margin-left: 300px; margin-top: 10px; font-size: 30px; font-weight: bold;" routerLink="/allcontactRequests"> All ContactUS Requests</button>  </div>
    </div>



    <div class="column">
      <div ><button  style="margin-left: 300px; font-size: 30px; font-weight: bold;  "  routerLink="/alllostRequests" >All LostCard Requests </button></div>
    </div>
   
   

  </div>
</div>