.tweet-text {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
   
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 4px;
  }

  .f{
    color: rgb(128, 0, 0); font-size:50x; font-weight: bold;
  }

  