
<main> 
    <div class="intro">
      <h1>YOUR MOST TRUSTED</h1><h1> HEALTH PARTNER      </h1>
      <p>Bringing Health</p>
      <button routerLink="/home">Discover More</button>
    </div>
    <div class="achievements">
      <div class="work">
        <i class="fas fa-atom"></i>
        <p class="work-heading">Medical services</p>
        <p class="work-text">
          -Doctors review the history of the patients,
          overview states and their old prescriptions.<BR>
          -Edit and update the
          information of the patient like adding a new prescription,
          new diagnostic and updating the old information.
        </p>
          
      </div>
      <div class="work">
        <i class="fas fa-skiing"></i>
        <p class="work-heading">pharmacy services</p>
        <p class="work-text">-Pharmacists review only the prescriptions of patients
          .<br> -Discharge medicines automatically to them.                   </p>
           <p class="work-text">
           </p>

      </div>
      <div style="margin-top: -30PX;"  class="work">
        <i class="fas fa-ethernet"></i>
        <p class="work-heading">laboratory services</p>
        <p class="work-text">-The lab technician review the scans and test required  for  the
          patient.<BR>
            -Upload the lab results for the
            patient on the website</p>
          

      </div>
    </div>
    <div   class="about-me">
      <div class="about-me-text">
        <h2>About Us</h2>
        <p>Our system is a health care system includes people, institutions, and resources that deliver health care
          services to patients in the best way with best performance.
          This system is based on smart cards that are used in information technologies as portable integrated devices
          with data storage. The system uses smart card for personal identification and transfer of health data and
          provides data communication between all users in the system.</p>
      </div>
      <img src="/assets/sin1.jpg"   style="height: 250px; width: 900px;"   alt="me">
    </div>
  </main>
 