<div class="xx">


<div class="bootstrap-wrapper; yy" >
    <div class="container">
        <div class="row mt20" >

            <div class="col-md-6 offset-md-3">

                <mat-card >

                <div class="container text-center" style="margin-top:20px;">
                    
                    <h2 >Login to SIESS</h2> <br>
                      
                </div>

                <h4 class="text-center"> </h4>

                 <!-- {{ loginData | json }} -->

                <form (ngSubmit)="formSubmit()">


                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Username </mat-label>
                    <input  [(ngModel)]="loginData.username" name="user_name" matInput placeholder="Enter your username">
                    <mat-hint>Valid User Name </mat-hint>
                </mat-form-field>



                <mat-form-field class="full-width" appearance="fill">
                    <mat-label> User Password </mat-label>
                    <input [(ngModel)]="loginData.password" name="user_pass" type="password" matInput
                        placeholder="Enter your password">
                </mat-form-field>

                <div class="container text-center">
                    <button style="width: 100%;" type="submit" mat-raised-button color="primary" >Login</button> <BR> <BR>
                      <a  routerLink="/forgetpass" >Forgetten Account?</a><BR> <BR>

                      <button  routerLink="/home"   style="width: 100%; background-color: rgb(21, 214, 21);" type="submit" mat-raised-button  >Create New Account </button> <BR> <BR>
                </div>

                
        </form>
    </mat-card>
            </div>
        </div>
    </div>
</div></div>


